/* Write your CSS here! */
body{
    text-align:center;
    background-color: rgb(238, 226, 237);
}
#mainHeading{

    color: red;
    font-size: xx-large;
    font-family: Brush Script MT;
    
} 
.funParagraph{
    color: green;
}